@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.breadcrumbs {
  height: 56px;
  background: $main-card-bg;
  padding: 0 20px;
  display: flex;
  align-items: center;
  @include for-tablet-up {
    background: $main-bg;
  }
  &__block {
    @include for-tablet {
      width: 944px;
    }
    @include for-laptop-up {
      width: 1180px;
    }
    @include for-tablet-up {
      margin: 0 auto;
    }
  }
  &__nav {
    @include for-tablet-up {
      width: 153px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__page {
    @include for-tablet-down {
      display: none;
    }
    @include for-tablet-up {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $color-title-light;
    }
  }
  &__category {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $color-title;
    margin-left: 20px;
    cursor: pointer;
    @include for-tablet-up {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $color-title-light;
      margin-left: 0;
    }
  }
  &__arrow-back {
    @include for-tablet-up {
      display: none;
    }
  }
  &__arrow-category {
    @include for-tablet-down {
      display: none;
    }
    @include for-tablet-up {
    }
  }
}
