@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.products-list {
  background: $main-bg;
  padding: 16px 10px 18px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 8px;
}
