@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.filter-block {
  padding: 25px 16px 64px;
  display: flex;
  flex-direction: column;

  @include for-tablet-up {
    display: grid;
    flex-direction: column;
    grid-template: 'check' 'price' 'send';
  }
  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__reset,
  &__apply {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-blue-dark;
    border: none;
    background-color: #1110;
    cursor: pointer;
  }
  &__numper-block {
    display: flex;
    grid-gap: 6px;
  }
  &__numper-price {
    display: flex;
    flex-direction: column;
  }
  input[type='number'] {
    background: $main-card-bg;
    border: $border-button-gray;
    border-radius: 6px;
    min-width: 110px;
    height: 40px;
    margin-top: 5px;
  }
  &__reset {
    margin-bottom: 18px;
    align-self: flex-start;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color-title;
  }
  &__check-row {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
  }
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-title;
  }
  &__range-input {
    position: relative;
    width: 100%;
    height: 40px;
    input {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
    }
  }
  &__slider-track {
    width: 100%;
    height: 4px;
    background: #afd0ff;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
  }
  &__apply-laptop {
    @include for-tablet-down {
      display: none;
    }
    @include for-tablet-up {
      width: 76px;
      height: 40px;
      background: $main-card-bg;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $color-blue-dark;
      flex: none;
      order: 0;
      flex-grow: 0;
      border: $border-button-gray;
      box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
      border-radius: 6px;
      align-self: center;
      margin-bottom: 40px;
    }
  }
}
.brands {
  border-top: $border-button-gray;
  padding-top: 15px;
}
input[type='range'] {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  top: 0;
  margin: auto;
  bottom: 0;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
}
input[type='range']::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $main-card-bg;
  border: 1px solid #afd0ff;
  box-shadow: 0px 2px 4px rgba(16, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;
}
input[type='range']::-ms-track {
  height: 20px;
  appearance: none;
  pointer-events: auto;
}
input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $main-card-bg;
  border: 1px solid #afd0ff;
  box-shadow: 0px 2px 4px rgba(16, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;
}
input[type='range']::-ms-thumb {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;
  background-color: $main-card-bg;
  border: 1px solid #afd0ff;
  box-shadow: 0px 2px 4px rgba(16, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  accent-color: #0d6efd;
}
.filter-all-brands {
  display: flex;
  flex-direction: column;
  grid-area: check;
}
.filter-all-button-send {
  display: flex;
  flex-direction: column;
  grid-area: send;
}
.filter-all-prise {
  grid-area: price;
}
.laptop {
  @include for-tablet-down {
    display: none;
  }
}
.mob {
  @include for-tablet-up {
    display: none;
  }
}
