///Text color
$color-text: #505050;
$color-title-light: #8b96a5;
$color-title: #1c1c1c;
$color-blue-light: #8cb7f5;
$color-blue-dark: #0d6efd;
$color-gray: #333333;

///Bg color
$main-bg: #f7fafc;

$main-card-bg: #ffffff;

//hadow color

$button-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);

// border-radius
$br: 6px;

// border
$border-button-blue: 1px solid #0d6efd;
$border-button-gray: 1px solid #dee2e7;
